<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sui.haedal.curator.mapper.ClearingUserMapper">

    <select id="clearingUserPageQuery" resultType="com.sui.haedal.curator.model.vo.ClearingUserVo">
        SELECT cu.*,b.market_title,b.oracle_id,
        ccc.coin_decimals as collateral_coin_decimals,ccc.feed_id as collateral_feed_id,ccc.feed_object_id as collateral_feed_object_id,
        ccl.coin_decimals as loan_coin_decimals,ccl.feed_id as loan_feed_id,ccl.feed_object_id as loan_feed_object_id from   clearing_user cu
        left join borrow b on b.market_id=cu.market_id
        left join coin_config ccc on ccc.coin_type=b.collateral_token_type
        left join coin_config ccl on ccl.coin_type=b.loan_token_type where 1=1
        <if test="queryBo.marketId!= null and  queryBo.marketId!=''">
            and cu.market_id=#{queryBo.marketId}
        </if>
        <if test="queryBo.userAddress!= null and  queryBo.userAddress!=''">
            and v.user_address like concat('%',#{queryBo.userAddress},'%')
        </if>
    </select>

</mapper>